<%- include('partials/header.ejs') %>

<body>
  <h1>Pawsome Match</h1>
  <hr>
  <nav>
    <a href="/"> Welcome </a>
    <a href="/viewAllDogs"> Dogs </a>
    <a href="/aboutCats" class="currentPage"> Cats </a>
  </nav> 
  <hr>

  <div id="displayBreeds">
      <select id="catBreeds" name="catBreeds">
        <option> Select Breed </option>
        <% catData.forEach(catData => { %>
          <option value="<%= catData.id %>"><%= catData.name %></option>
        <% }) %>
      </select>
    <div id="results">
      <div id="photoSection">
        <img id="photoPlaceholder" src="/img/funnyPug.jpg" alt="Funny Pug telling the user to make a selection">
        <div id="credits">
          Photo by <a href="https://unsplash.com/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> on <a href="https://unsplash.com/photos/black-dog-wearing-blue-denim-collar-K4mSJ7kc0As?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash (Edited: Added text) </a>
        </div>


      <!-- </div>
      <% if (typeof chosenBreed != "undefined") { %>
        <div id="breedInfo">
          <span id="nameTitle">Name: </span><span id="<%= chosenBreed[0].id %>">"<%= chosenBreed[0].name %>"</span><br>
          <span id="nameTitle">Breed Group: </span><span id="breedGroup">"<%= chosenBreed[0].breed_group %>"</span><br>
          <span id="nameTitle">Weight: </span><span id="weight">"<%= chosenBreed[0].weight.metric %>"</span><br>
          <span id="nameTitle">Temperament: </span><span id="temperament">"<%= chosenBreed[0].temperament %>"</span><br>
          <span id="nameTitle">Life Span: </span><span id="lifeSpan">"<%= chosenBreed[0].life_span %>"</span>
        </div>
        <% } %>
    </div> -->
  </div>

      <!-- Modal container using Bootstrap to display breed info -->
      <div id="breedInfoModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Breed Info</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <!-- placeholder for breed info -->
              <div class=row>
                <div class="col">
                  <div class="text-dark" id="breedInfo"></div>
                </div>
                <div class="col">
                  <div class="text-dark" id="breedDetails"></div>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
      <script src="/js/scripts.js"></script>
<%- include('partials/footer.ejs') %> 