<%- include('partials/header.ejs') %>
  <div id="displayBreeds" class="customSelect">
      <select id="catBreeds" name="catBreeds">
        <option> Select Breed </option>
        <% catData.forEach(catData => { %>
          <option value="<%=catData.id%>"><%= catData.name %></option>
        <% }) %>
      </select>
  </div>
      <!-- Modal container using Bootstrap to display breed info -->
      <div id="breedInfoModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Breed Info</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <!-- placeholder for breed info -->
              <div class=row>
                <div class="col">
                  <div class="text-dark" id="breedInfo"></div>
                </div>
                <div class="col">
                  <div class="text-dark" id="breedDetails"></div>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <%- include('partials/assistant.ejs') %>
      <script src="/js/scripts.js"></script>
          
<%- include('partials/footer.ejs') %> 