<%- include('partials/header.ejs') %>

<div id="logo" class="d-flex align-items-center justify-content-center"
  <image><img src="/img/pawsomeMatch.png" alt="Logo"></image>
</div>
<div id="welcomeText">
  <h1>Welcome to Paws & Found,</h1>
  <h1>the best place to find your furever friend!</h1>
</div>

<div id="scrollPrompt">

</div>




<div id="catSection">


</div>



<div id="dogSection">



</div>





</div>





  <%- include('partials/assistant.ejs')%>
  <%- include('partials/login.ejs')%>
  <%- include('partials/signupModal.ejs')%>
  
  <script src="/js/scripts.js"></script>
  <script src="/js/header.js"></script>
  </section>
</body>
  
 

</body>
<%- include('partials/footer.ejs') %>