<%- include('partials/header.ejs') %>

  <div id="logo" class="d-flex align-items-center justify-content-center"
  <image>
    <img src="/img/pawsomeMatch.png" alt="Logo">
  </image>
  </div>
    <div id="welcomeText">
      <h1>Welcome to Paws & Found!</h1>
      <h4>
      Thank you for visiting us. Our mission is to educate people about various pet breeds and assist in finding adoptable pets in your area.<br> Whether you're looking to learn more about your favorite breed or ready to bring a new furry friend into your home, we're here to help every step of the way. <br> Happy exploring!<br> </h4>
    </div>
  </div>
  <%- include('partials/assistant.ejs')%>
  <%- include('partials/login.ejs')%>
  <%- include('partials/signupModal.ejs')%>
  
  <script src="/js/scripts.js"></script>
  <script src="/js/header.js"></script>
  </section>
</body>
  
 

</body>
<%- include('partials/footer.ejs') %>