<%- include('partials/header.ejs') %>

<div id="logo" class="d-flex align-items-center justify-content-center"
  <image><img src="/img/pawsomeMatch.png" alt="Logo"></image>
</div>
<div id="welcomeText" style="height: 1000px;">
  <h1>Welcome to Paws & Found,</h1>
  <h1>the best place to find your furever friend!</h1>
</div>


<div id="scrollPrompt" class="d-flex align-items-center justify-content-center" style="height: 100px;">
  SCROLL PROMPT WILL BE HERE
</div>




<div id="indexCatHeader" class="bg d-flex align-items-center justify-content-center" style="background-image: url('/img/cats.jpg'); height: 500px; background-size: cover;">
    <h1>Cats</h1>
</div>

<div id="indexCats" class="container" style="height: auto;">
  <div class="row">
    <div class="col">
      <div class="row">
        <!-- cat breed options -->
        <div id="displayBreeds" class="customSelect mb-2 d-flex justify-content-center align-items-center">
          <select id="catBreeds" name="catBreeds">
            <option> Select Cat Breed </option>
              <% catData.forEach(catData => { %>
                <option id="breedName" value="<%=catData.id%>"><%= catData.name %></option>
              <% }) %>
          </select>
        </div>
      </div>

      <!-- display selected cat breed info -->
      <div class="row">
        <div class="col" id="catBreedPhoto"></div>
        <div class="col" id="displaySelectedBreed"></div>
      </div>
    </div>

    <div class="col">
        <pet-scroller
          type='["cat"]'
          age='[]'
          limit="2"
          status="adoptable"
          petlisttitle="Cats of Orange County"
          organization="CA2043,CA2366,CA371,CA420,CA1025,CA24,CA2857,CA2489,CA2369,CA2350,CA3245,CA1394,CA30,CA1506,CA1516,CA599"
          apibase="https://api.petfinder.com"
          petfinderurl="https://www.petfinder.com"
          accesstoken="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJtd1NmUDQ1SEpPckFSS0RkVGM1M3JGSjNHVTJIdnk0SUxVSGR5Y3NnNGpURzRCVHIzdCIsImp0aSI6InJpSkJoN0s2NTh0REVnUU1LZmVvcmRDYWY3bGZqZ242b3lQRkZqWlkiLCJpYXQiOjE3MjIzNTkxMDIsIm5iZiI6MTcyMjM1OTEwMiwiZXhwIjo0ODc4MDMyNzAyLCJzdWIiOiIxNzM0NTkyOSIsInNjb3BlcyI6W119.Onrj6lDVuL3jc1cXFAI7s--nlspqN_nw3YdvliyoS5ETQuLp0Zn5mQoJOu8Jhvh1sMbEbEVe7lXvjzTO5pX3Tr-OrtXGAxku3SlOaK7Pz0lLy3wBJHN8jZCzUprC0oZDkK7iv_0aZZ9SWOkatMVnIUZ4ShP7AoqyDJI-9rrFe6i05eEUOWlj2Wp1J4lgHaD1Cw94PtQlhKUzgc1g2APY3O898m41ZevTv3gf_xFmArJ6m6OMYgIkYIWb6FvIJnvjP45wy8VuevXblFHX5pzlMDn_qsqDxpKWRgjLQ7d-xEpRlPhu4FN2QmLdhht_IEgeG3eUdYXDoLrUI1_UcZQLeA">
        </pet-scroller>
    </div>
  </div>
</div>

<div id="indexDogHeader" class="bg d-flex align-items-center justify-content-center" style="background-image: url('/img/dogs.jpg'); height: 500px; background-size: cover;">
  <h1 class="text-light">Dogs</h1>
</div>


<div id="indexDogs" class="container" style="height: auto;">
  <div class="row">
    <div class="col">
      <div class="row">
        <div id="displayBreeds" class="customSelect d-flex justify-content-center">
          <select id="dogBreeds" name="breeds">
          <option> Select Dog Breed </option>
            <% dogData.forEach(dogData => { %>
          <option value="<%= dogData.id %>"><%= dogData.name %></option>
        <% }) %>
        </select>
        </div>
      </div>
      

      <!-- display selected cat breed info -->
        <div class="row">
          <div class="col" id="dogBreedPhoto"></div>
          <div class="col" id="displayDogBreed"></div>
        </div>
    </div>
 

    <div class="col">
      <pet-scroller 
        type='["dog"]'
        age='[]'
        limit="1"
        status="adoptable"
        petlisttitle="Dogs of Orange County"
        organization="CA2043,CA2366,CA371,CA420,CA1025,CA24,CA2857,CA2489,CA2369,CA2350,CA3245,CA1394,CA30,CA1506,CA1516,CA599"
        apibase="https://api.petfinder.com"
        petfinderurl="https://www.petfinder.com"
        accesstoken="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJtd1NmUDQ1SEpPckFSS0RkVGM1M3JGSjNHVTJIdnk0SUxVSGR5Y3NnNGpURzRCVHIzdCIsImp0aSI6InJpSkJoN0s2NTh0REVnUU1LZmVvcmRDYWY3bGZqZ242b3lQRkZqWlkiLCJpYXQiOjE3MjIzNTkxMDIsIm5iZiI6MTcyMjM1OTEwMiwiZXhwIjo0ODc4MDMyNzAyLCJzdWIiOiIxNzM0NTkyOSIsInNjb3BlcyI6W119.Onrj6lDVuL3jc1cXFAI7s--nlspqN_nw3YdvliyoS5ETQuLp0Zn5mQoJOu8Jhvh1sMbEbEVe7lXvjzTO5pX3Tr-OrtXGAxku3SlOaK7Pz0lLy3wBJHN8jZCzUprC0oZDkK7iv_0aZZ9SWOkatMVnIUZ4ShP7AoqyDJI-9rrFe6i05eEUOWlj2Wp1J4lgHaD1Cw94PtQlhKUzgc1g2APY3O898m41ZevTv3gf_xFmArJ6m6OMYgIkYIWb6FvIJnvjP45wy8VuevXblFHX5pzlMDn_qsqDxpKWRgjLQ7d-xEpRlPhu4FN2QmLdhht_IEgeG3eUdYXDoLrUI1_UcZQLeA">
      </pet-scroller>
    </div>
  </div>
</div>


</div>





  <%- include('partials/assistant.ejs')%>
  <%- include('partials/login.ejs')%>
  <%- include('partials/signupModal.ejs')%>
  
  <script src="/js/scripts.js"></script>
  <script src="/js/header.js"></script>
  <script src="https://www.petfinder.com/assets/widgets/scripts/main-widgets-web.js"></script>
  <script src="https://www.petfinder.com/assets/widgets/scripts/main-widgets-web.js"></script>
  </section>
</body>
  
 

</body>
<%- include('partials/footer.ejs') %>