<%- include('partials/header.ejs') %>
  <div id="displayBreeds" class="customSelect">
      <select id="breeds" name="breeds">
        <option> Select Breed </option>
        <% dogData.forEach(dogData => { %>
          <option value="<%= dogData.id %>"><%= dogData.name %></option>
        <% }) %>
      </select>
    <!-- <div id="results">
      <div id="photoSection">
        <img id="photoPlaceholder" src="/img/funnyPug.jpg" alt="Funny Pug telling the user to make a selection">
        <div id="credits">
          Photo by <a href="https://unsplash.com/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> on <a href="https://unsplash.com/photos/black-dog-wearing-blue-denim-collar-K4mSJ7kc0As?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash (Edited: Added text) </a>
        </div> -->

  </div>

      <!-- Modal container using Bootstrap to display breed info -->
      <div id="breedInfoModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Breed Info</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <!-- placeholder for breed info -->
              <div class=row>
                <div class="col">
                  <div class="text-dark" id="breedInfo"></div>
                </div>
                <div class="col">
                  <div class="text-dark" id="breedDetails"></div>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>
          </div>
          </section>
      <%- include('partials/assistant.ejs') %>
      <%- include('partials/login.ejs')%>
      <%- include('partials/signupModal.ejs')%>
      
      <script src="/js/scripts.js"></script>
      <script src="/js/header.js"></script>
<%- include('partials/footer.ejs') %> 